* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: gainsboro;
    width: 300px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: +5;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.h {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-bottom: 100px;
}

img {
    transform: scale(1);
    transition: all .3s ease;
    padding-left: 40px;
}

img:active {
    transform: scale(0.9);
}
